@page "/add"
@using KGD.Application.Contracts;
@using KGD.Application.DTO;
@using KGD.Data.DTO;
@using KGD.Services;
@inject IReportService reportService;

<h3>Добавление нового отчета</h3>

<RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="KGD Code" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@report.KGDCode" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Department" />
            <div class="form-group">
                <select style="width:100%;" for="Publisher" class="form-control"
                        @bind="@report.DepartmentId">
                    <option value=0 disabled selected hidden>
                        [Select Department]
                    </option>
                    @foreach (var publisher in DepartmentList)
                    {
                        <option value="@publisher.Id">
                            @publisher.Name
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="NP BIN" />
            <div class="form-group">
                <select style="width:100%;" for="Publisher" class="form-control"
                        @bind="@report.NPId">
                    <option value=0 disabled selected hidden>
                        [Select TaxPayers]
                    </option>
                    @foreach (var publisher in TaxPayers)
                    {
                        <option value="@publisher.Id">
                            @publisher.Name
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Regulation" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@report.Regulation" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Period NP" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@report.PeriodNP" />
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Excepted NP Name" />
            <div class="form-group">
                <select style="width:100%;" for="Publisher" class="form-control"
                        @bind="@report.ExceptedNPId">
                    <option value=0 disabled selected hidden>
                        [Select ExceptedNPId]
                    </option>
                    @foreach (var publisher in TaxPayers)
                    {
                        <option value="@publisher.Id">
                            @publisher.Name
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Service Type" />
            <div class="form-group">
                <select style="width:100%;" for="Publisher" class="form-control"
                        @bind="@report.ServiceTypeId">
                    <option value=0 disabled selected hidden>
                        [Select ServiceTypes]
                    </option>
                    @foreach (var publisher in ServiceTypes)
                    {
                        <option value="@publisher.Id">
                            @publisher.Name
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <RadzenLabel Text="Total Sum" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.TotalSum" />
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Oborot Summ" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.OborotSumm" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Tax Summ" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.TaxSumm" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="text-align:end;">
            <RadzenButton Text="Отменить" ButtonStyle="ButtonStyle.Secondary" @onclick="@(() => navigationManager.NavigateTo("/reports"))" />
            <RadzenButton Text="Очистить" Click="OnClear" />
            <RadzenButton Text="Добавить" ButtonStyle="ButtonStyle.Success" Click="OnSubmit" />
        </div>
    </div>
</RadzenCard>

@code {
    private ReportDTO report = new ReportDTO();
    private List<DepartmentDTO> DepartmentList = new List<DepartmentDTO>();
    private List<ServiceTypeDTO> ServiceTypes = new List<ServiceTypeDTO>();
    private List<TaxPayerDTO> TaxPayers = new List<TaxPayerDTO>();

    [Inject]
    private NavigationManager navigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        DepartmentList = await reportService.GetDepartments();
        ServiceTypes = await reportService.GetServiceTypes();
        TaxPayers = await reportService.GetTaxPayers();
    }

    private async void OnSubmit()
    {
        await reportService.AddReport(report);
        navigationManager.NavigateTo("/");
    }

    private void OnClear()
    {
        report = new ReportDTO();
    }
}
