@page "/details/{Id:int}"
@using KGD.Application.Contracts;
@using KGD.Application.DTO;
@using KGD.Components;
@using KGD.Data.DTO;
@inject IReportService _reportService;
@inject DialogService DialogService
@inject IUserService UserService


<h3>Детали отчета</h3>

<RadzenCard>
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Отчет за период" />
            <RadzenDatePicker Style="width:100%;" @bind-Value="@report.ReportCreatedPeriod" DateFormat="mm:yyyy" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Департамент" />
            <RadzenTextBox Disabled="true" Style="width:100%;" @bind-Value="@report.Department" />

        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="БИН/ИИН проверяемого НП" />
            <RadzenTextBox Disabled="true" Style="width:100%;" @bind-Value="@report.NP_BIN" />

        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Период по искл. неблагонадежных НП  (год)" />
            <RadzenDatePicker Style="width:45%;" @bind-Value="@report.PeriodNPFrom" DateFormat="dd:mm:yyyy" />
            -
            <RadzenDatePicker Style="width:45%;" @bind-Value="@report.PeriodNPTo" DateFormat="dd:mm:yyyy" />
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Номер предписания" />
            <RadzenTextBox Style="width:100%;" @bind-Value="@report.Regulation" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Дата вручения предписания" />
            <RadzenDatePicker Style="width:100%;" @bind-Value="@report.RegulationDate" DateFormat="dd:mm:yyyy" />
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Наименование неблагонадежных НП, исключенных в ходе проверки" />
            <RadzenTextBox Disabled="true" Style="width:100%;" @bind-Value="@report.ExceptedNPName" />

        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Тип услуги" />
            <RadzenTextBox Disabled="true" Style="width:100%;" @bind-Value="@report.ServiceType" />

        </div>
    </div>    <br />
    <div class="row">
        @*     <div class="col-md-6">
        <RadzenLabel Text="Код ДГД" />
        <RadzenTextBox Style="width:100%;" @bind-Value="@report.KGDCode" />
        </div>*@

        <div class="col-md-6">
            <RadzenLabel Text="Общая сумма" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.TotalSum" />
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Сумма оборота" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.OborotSumm" />
        </div>
        <div class="col-md-6">
            <RadzenLabel Text="Сумма НДС" />
            <RadzenNumeric Style="width:100%;" @bind-Value="@report.TaxSumm" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6" style="text-align:end;">
            <RadzenButton Text="Назад" ButtonStyle="ButtonStyle.Secondary" Click="@(() => navigationManager.NavigateTo("/"))" />
            <RadzenButton Text="История отчета" ButtonStyle="ButtonStyle.Primary" Click="History" />
        </div>
    </div>
</RadzenCard>

<Modal @ref="@ModalDialog" Title="История отчета">
    <div class="row">
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@history" TItem="ReportHistoryDTO" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="ReportHistoryDTO" Property="CreatedDateTime" Title="Дата" Width="100px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="ReportHistoryDTO" Property="UserName" Title="ФИО" Frozen="true" Width="160px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="ReportHistoryDTO" Property="Action" Title="Действие" Width="160px" TextAlign="TextAlign.Center" />
            </Columns>
        </RadzenDataGrid>
    </div>
    <br />
    <div class="row">
        <button class="btn btn-primary" @onclick="() => ModalDialog.Close()">Закрыть</button>
    </div>
</Modal>
@code {
    [Parameter]
    public int? Id { get; set; }
    [Inject]
    private NavigationManager navigationManager { get; set; }
    private ReportDTO report = new ReportDTO();
    private List<ReportHistoryDTO> history = new List<ReportHistoryDTO>();
    private Modal ModalDialog { get; set; }
    int orderID = 10248;

    protected override async Task OnInitializedAsync()
    {
        report = await _reportService.GetReportById(Id.Value);
    }

    public async Task History()
    {
        history = await _reportService.GetReportHistory(Id.Value);
        if (history.Count > 0)
        {
            foreach (var item in history)
            {
                var user = (await UserService.RetrieveUserListAsync(CancellationToken.None)).FirstOrDefault(s => s.Id == item.UserId);
                item.UserName = user.Name;
            }
        }
        await Task.CompletedTask;
        ModalDialog.Open();
    }
}
